body{
    background: url("../images/bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-size: 14px;
}
a:hover{
    text-decoration: none;
}

#top{
    background: #343a40;
    color: #e5e5e5;
    padding: 7px 0;
    font-weight: bold;
}
#top .social-icons i{
    margin-left: 10px;
}
#logo .container{
    background: #343a4090;
}
#menu .container{
    background: #343a40;
    color: #fff;
}
#menu ul{
    list-style: none;
    padding: 10px 0 15px;
}
#menu ul li{
    float: left;
    margin-right: 20px;
}

#menu ul li a{
    text-transform: uppercase;
    color: #F9A827;
    font-size: 1.1em;
    font-weight: bold;
}

#menu ul li a:hover{
    color: #fff;
}
.btn-login{
    background-color: rgba(249, 168, 39, 0.8);
    border: none;
}
.btn-reg{
    background-color: rgba(249, 168, 39, 0.8);
    border: none;
}


.btn-login:hover,.btn-reg:hover{
    background-color: #F9A827;
}
#icon-menu img:hover{
    opacity: 0.8;
}
footer{
    background: rgba(52, 58, 64, 0.7);
}

footer hr{
    border-color: white;
}
@media (max-width: 767px){
    #menu ul{
        list-style: none;
        padding: 10px 0 35px;
    }
}

/*Login*/
#login{
    padding: 100px 0;
}
#gold{
    padding: 50px 0;
}
.header img{
    height: 30px;
}
h4.header{
    color: #fff;
    margin-top: -7px;
    background-color: #f9a827;
    padding: 10px 20px 7px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.color1{
    color: #f9a827;
}
.bg-trans{
    background-color: rgba(52, 58, 64, 0.85);
}
.bg-trans2{
    background-color: rgba(52, 58, 64, 0.95);
}

.bg-trans2:hover{
    background-color: rgba(52, 58, 64, 0.75);
}
hr.white{
    border-color: white;
}
#shop-search .input-group{
    margin-bottom: 10px;
}
.btn-buy{
    background: rgba(249, 168, 39, 0.35);
}

.bg-trans2:hover .btn-buy{
    background: #f9a827;
}
.img-100 img{
    width: 100% !important;
    height: auto !important;
}
.carousel-item{
    border: 7px solid rgba(52, 58, 64, 0.85);
}